@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito-Black';
    src: url("../src/assets/fonts/Nunito-Black.ttf")
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url("../src/assets/fonts/Nunito-Bold.ttf")
}

@font-face {
    font-family: 'Nunito-ExtraBold';
    src: url("../src/assets/fonts/Nunito-ExtraBold.ttf")
}

@font-face {
    font-family: 'Nunito-Medium';
    src: url("../src/assets/fonts/Nunito-Medium.ttf")
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url("../src/assets/fonts/Nunito-Regular.ttf")
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src: url("../src/assets/fonts/Nunito-SemiBold.ttf")
}
